@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

h1 {
  padding: 10px 0;
  background-color: yellow;
  text-align: center;
  font-weight: bolder;
}

h2 {
  width: 100%;
  background-color: red;
  text-align: center;
}

ul#MailList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 10px;
}

li {
  display: flex;
  flex-direction: column;
}

ul li ul {
  padding: 0 10px;
}

ul li ul li {
  margin-top: 4px;
  padding: 4px 6px;
  border: 1px solid black;
  border-radius: 4px;
  transition: 0.5s;
}

ul li ul li:hover {
  transform: scale(1.05);
  background-color: black;
  border: 2px solid white;
  box-shadow: 0 0 8px rgb(209, 195, 0);
}

ul li ul li a,
ul li ul li h3 {
  transition: 0.5s;
}

ul li ul li:hover a {
  text-align: center;
  color: white;
}

ul li ul li:hover h3 {
  color: white;
  text-decoration: underline solid red;
}

button,
input,
textarea,
a {
  outline: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

a {
  text-decoration: none;
}
